.main {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border: 2px solid rgb(33, 49, 139);
}

h1 {
    text-align: center;
}

h1 span {
    text-align: center;
    float: right;
    display: block;
    /* background: rgb(39, 39, 39); */
    padding: 2px 8px;
    color: rgb(7, 7, 7);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    overflow: hidden;
    padding: 4px 0;
}


li a {
    float: right;
    /* text-decoration: none; */
    font-weight: bold;
    color: rgb(33, 49, 139);
    padding: 0 8px;
    /* display: none */
}

#new-task {
    margin-top: 20px;
    padding-top: 10px;
    /* border-top: 1px solid #efefef; */
    overflow: hidden;
}

#new-task input {
    border: 1px solid rgb(33, 49, 139);
    /* padding: 2px; */
    width: 350px;
    float: left;
    margin-bottom: 10px;
}

#new-task button {
    width: 50px;
    border: 1px solid rgb(33, 49, 139);
    background: #DDD;
    font-weight: bold;
    color: rgb(8, 8, 8);
    padding: 4px;
    float: left;
    margin-left: 20px;
}

#done span {
    text-decoration: line-through;
    font-size: 12px;
    color: #999;
}